</div><!-- /.container -->
<br><br><br>
<hr>
<p class="text-center">&COPY; ABC<br>
  Copyright 2021-2022. All rights reserved<br>
  Developed by <a href="#">xyz</a>
</p>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
<script src="/js/main.js"></script>
</body>
</html>