<%- include('../_layouts/header.ejs') %>

<main role="main" class="servCont">

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Our Services.</h1>
        <p class="lead text-muted">
          We offer the full spectrum of services to help achieve your logistical needs. From safe and affordable travel tickets, great maintained cars for hire or even getting your goods from town to town, we have it covered. Very few others do this, and none have been doing it as long as we have.
        </p>
        <p>
          <a href="/account" class="btn btn-primary my-2">Get Started</a>
          <a href="/" class="btn btn-secondary my-2">learn more</a>
        </p>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="/images/courier.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">
                  <h4><b>Courier Services</b></h4>
                  <div>
                    Get your parcels delivered within 48 hours of confirmation. You will receive a mail once your parcel gets to your destination.
                  </div>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button class="btn btn-sm btn-outline-secondary">
                      <a href="/account">
                        View
                      </a>
                    </button>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="/images/bus booking.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">
                  <h4><b>Travel booking</b></h4>
                  <div>
                    Travel in style with our top notch world class travelling couches. With comfortable seats, free WiFi and endless entertaiment to give your a memorable trip.
                  </div>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button class="btn btn-sm btn-outline-secondary">
                      <a href="/account">
                        View
                      </a>
                    </button>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="/images/car hire.gif" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">
                  <h4>
                    <b>Car Hire</b>
                  </h4>
                  <div>
                    Book our reliable cars to move to any place in the country. our vehicles and serviced regularly to ensure your travelling is without issues.
                  </div>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button class="btn btn-sm btn-outline-secondary">
                      <a href="/account">
                        View
                      </a>
                    </button>
                  </div>
                </div>
              </div>
            </div>
        </div>
          
      </div>
    </div>

    <div class="row reviews">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <span class="quote">“</span>
            </h5>
            <p class="card-text">
              I had the best service I could have asked for from two of your team members. You ensured all of my cargo went smooth to destination without any hiccups.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <span class="quote">“</span>
            </h5>
            <p class="card-text">
              Bus service was excellent. Customer service was great. Buses were clean and comfy. Free hot beverages were very good as well. Really enjoyed their great service.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <span class="quote">“</span>
            </h5>
            <p class="card-text">
              The car was available in short notice and excellent condition. Once in a while their customer care checks on you and the performance of the car. They also give favorable discounts.
            </p>
          </div>
        </div>
      </div>
    </div>
</main>


<%- include('../_layouts/footer.ejs') %>